*{
	box-sizing: border-box;
}
.container {
	width:1051px;
	margin:0 auto;
}

.fibImg:first-child {
	background-color:#2E8B57;
}
.fibImg:nth-child(2) {
	background-color:#90EE90;	
}
.fibImg:nth-child(3) {
	background-color:#9932CC;	
}
.fibImg:nth-child(4) {
	background-color:#B22222;	
}
.fibImg:nth-child(5) {
	background-color:#FFA500;
}
.fibImg:nth-child(6) {
	background-color:#4682B4;
}
.fibImg:last-child {
	background-color:#2E8B57;
}